body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    transition: background 0.3s, color 0.3s;
}
.dark-mode {
    background-color: #121212;
    color: #fff;
}

img{
    height: 30px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #dae4ef;
    padding: 15px 20px;
    color: rgb(49, 48, 48);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.navbar a {
    color: rgb(49, 48, 48);
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    transition: color 0.3s;
}
.navbar a:hover {
    color: #ffcc00;
}
.toggle-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: white;
    transition: transform 0.3s;
}
.toggle-btn:hover {
    transform: rotate(20deg);
}
.container {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    transition: background 0.3s;
}

.container h2{
    text-align: center;
}
.dark-mode .container {
    background: #1e1e1e;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
}
.courses {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.course {
    padding: 20px;
    background: #e9f5ff;
    border-radius: 8px;
    border-left: 6px solid #2e2f30;
    transition: all 0.3s;
    cursor: pointer;
}
.dark-mode .course {
    background: #242424;
    border-left: 6px solid #efdd97;
}
.course:hover {
    transform: scale(1.05);
    background: #d0ebff;
}
.dark-mode .course:hover {
    background: #333;
}

